{% extends '::base.html.twig' %}

{% block body -%}
    <ol class="breadcrumb">
        <li><a href="{{ path('rudak_main_admin') }}">Administration</a></li>
        <li class="active">Liste des élements</li>
    </ol>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Page</th>
            <th>Niveau</th>
            <th>Actif</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('admin_menu_item_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.page.name }}</td>
                <td>{{ entity.rank }}</td>
                <td>{% if entity.active %}Oui{% else %}Non{% endif %}</td>
                <td>
                    <a href="{{ path('admin_menu_item_show', { 'id': entity.id }) }}"
                       class="btn btn-xs btn-default">
                        Voir
                    </a>

                    <a href="{{ path('admin_menu_item_edit', { 'id': entity.id }) }}"
                       class="btn btn-xs btn-default">
                        Modifier
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <p>
        <a href="{{ path('admin_menu_item_new') }}" class="btn btn-primary">
            Creer un élément
        </a>
    </p>
{% endblock %}
